/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s alternate;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

img {
  height: 50px;
  width: 50px;
}

.icon-button {
  background-color: #282c34;
  margin: 30px;
  border-radius: 10px;
  padding: 8px;
}

.add {
  height: 5%;
  width: 170px;
  /* align-items: right; */
  /* justify-content: end; */
  margin-left: 1%;
  float: left;
}

.model {
  background-color: #282c34;
}

.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

hr {
  color: #dc3545;
}

.show-date {
  float: right;
}

.others {
  text-align: right;
}
